*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background: url(https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
}
.container{
    text-align: center;
    height: 500px;
    width: 350px;
    background: #fff;
    box-shadow: 0 1px 2px #777;
}
.container h1{
    margin: 25px;
}
input.inp{
    height: 40px;
    width: 280px;
    margin: 15px 0;
    background: rgb(241, 239, 239);
    border: none;
    outline: none;
    padding: 0 40px;
    font-size: 15px;
}
i{
    font-size: 20px;
    margin: 25px 10px;
    position: absolute;
    color: rgb(129, 123, 123);
}
.check{
    float: left;
    margin: 25px 35px;
}
input[type=checkbox]{
    margin: 2px 5px;
    outline: none;
}
.login{
    margin: 15px 0;
}
button{
    font-size: 20px;
    color: white;
    font-weight: 650;
    padding: 10px 100px;
    background: #04e89E;
    cursor: pointer;
    outline: none;
    border: none;
}
.facebook{
    /* transform: translateY(55px); */
    transform: translate(-180px, 25px);
}
.twitter{
    /* transform: translateY(55px); */
    transform: translate(15px, 25px);
}
.facebook i{
    margin: 0 15px;
    color: white;
    padding: 10px 15px;
    background: #1877f2;
}
.twitter i{
    margin: 0 15px;
    color: white;
    padding: 10px 25px;
    background: #1da1f2;
}
i a{
    margin: 0 5px;
    color: #fff;
}


.signup{
    color: rgb(129, 123, 123);
    margin: 110px 0;
}
.signup a{
    color: #dd14bd;
}
.signup a:hover{
    margin: 0 5px;

    text-decoration: underline;
}